section .container{
	padding: 4rem 0;
	width: 80%;
}
/* Perfil photo*/
.container_foto{
	position: relative;
	left: 5%;
	width: 90%;
}
.container_foto img{
	border-radius: 5px;
}

/**/

.services{background-color: #f9f9f9;}

/**/

.portifolio .galery{
	width: 100%;
}

.portifolio .galery li{
	max-width: 45%;
	margin: .3rem;
	position: relative;
	display: inline-block;
}

.portifolio .galery li:hover{background-color: black;}


/**/
.contato{
	color: white;
	text-align: center;
	background-image: url("../../img/contato_banner.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.contato input, .contato textarea{
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

::placeholder{
	color: black;
}

.contato textarea{height: 30vw;}

.contato button{
	float: left;
	border:none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	color: white;
	background-color: darkcyan;
}
/**/
@media(min-width: 768px){
	.container_foto{
		width: 60%;
		left: 5rem;
	}
/**/
	.portifolio .galery{width: 70%;}
	.portifolio .galery li{width: 48%;}
/**/
	.contato textarea{height: 20vw;}
	.contato form{width: 70%;}


}